*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  max-width: 750px;
  line-height: 1.2;
}
header {
  width: 100%;
  text-align: center;
}
header h1 {
  color: rgba(0, 64, 255, 0.779);
}

#navbar ul {
  display: flex;
  gap: 5%;
  justify-content: center;
  padding: 5px;
  border-bottom: 3px solid rgb(212, 212, 213);
}
#navbar li {
  list-style-type: none;
  background-color: #f7f8f9;
  padding: 8px;
  border-radius: 8px;
}

#navbar .active {
  background-color: #d5dae1;
}
#navbar li:hover {
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: space-between;
}
.text-content h3 {
  text-align: center;
}
#result-text {
  background-color: #f7f8f9;
  min-width: 350px;
  max-width: 400px;
  min-height: 250px;
  padding: 2px 5px;
  word-wrap: break-word;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: oblique;
}
.underline {
  text-decoration: underline;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
